{% extends 'base.html.twig' %}

{% block title %}Page Admin{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="row">
<h1>Page d'Administration</h1>

<table class="table table-striped"><thead><tr>

<th>Images</th>
<th>Titre</th>
<th>Description</th>
<th>Surface</th>
<th>Prix</th>
<th>Nombres de Pièces</th>
<th>Nombres de Chambres</th>
<th>Étages</th>
<th>Ville</th>
<th>Adresse</th>
<th>Code Postale</th>
<th>Type</th>

<th>Action</th></tr></thead><tbody class="table table-striped">

{% for biens in biens %}

<tr class="table-dark">
	<td><img src="{{asset('images/biens/'~ biens.image ~'')}}" style="width:100px;height:100px;"></td>
	<td>{{biens.titre}}</td>
	<td>{{biens.description}}</td>
	<td>{{biens.surface}}m²</td>
	<td>{{biens.prix}}</td>
	<td>{{biens.nbPieces}}</td>
	<td>{{biens.nbChambre}}</td>
    <td>{{biens.etage}}</td>
	<td>{{biens.ville}}</td>
	<td>{{biens.adresse}}</td>
	<td>{{biens.cp}}</td>
    <td>{{biens.type}}</td>


	<td class="table-dark">
		 <form>
			<a href="{{ path('admin_biens_modification', {'id': biens.id}) }}" class="btn btn-warning">Modifier</a>
			</a>
		 </form>   
		  <form>
			<a href="{{ path('admin_biens_delete', {'id': biens.id}) }}" class="btn btn-danger">Supprimer</a>
			</a>
		 </form>   
	</td>

</tr></tr>{% endfor %}</tbody></table>
	<center> <a href="{{path('admin_biens_ajouter')}}"> <button type="button" class="btn btn-success">Ajouter</button></br></br></a><table class="table table-striped"><thead><tr>
</center>
</div>

{% endblock %}
