{% extends 'base.html.twig' %}

{% block title %}Page d'Administration{% endblock %}


{% block body %}

{# <body>
<div class="col-12 mt-5" id="formulaire">
    <div class="row">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nom</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Votre nom">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Prénom</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Votre prénom">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Adresse email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Votre adresse email">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Objet</label>
            <input type="email" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="button" class="btn btn-secondary">Envoyer</button>
    </div>
</div>

</body> #}


<div class="col-12 mt-5" id="formulaire">
    <h2 class="text-white"> Ajouter </h2>
    {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                {{ form_label(form.titre, 'Titre', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.surface, 'Surface', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.surface, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.prix, 'Prix', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                {{ form_label(form.nbPieces, 'Nombres de Pièces', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.nbPieces, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.nbChambre, 'Nombres de Chambres', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.nbChambre, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.etage, 'Nombres d\'Etages', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.etage, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.ville, 'Ville', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.adresse, 'Adresse', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.cp, 'Code Postale', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.cp, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.type, 'Type', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.imageFile, 'Image', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.imageFile, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <a href="{{path('admin_biens_ajouter',{'id':biens.id})}}"><button  type='submit' class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}
</div>

<a href="{{path('admin_biens_ajouter',{'id':biens.id})}}"><button  type='submit' class="btn btn-primary">Enregistrer</button>


{% endblock %}



