{% extends 'base.html.twig' %}

{% block title %}Page d'Administration{% endblock %}


{% block body %}

<h2> Ajouter </h2> {{produit.id}}
{{ form_start(form) }}
{{ form_row(form.titre) }}
{{ form_row(form.description) }}
{{ form_row(form.surface) }}
{{ form_row(form.prix) }}
{{ form_row(form.nb_pieces) }}
{{ form_row(form.nbChambre) }}
{{ form_row(form.etage) }}
{{ form_row(form.ville) }}
{{ form_row(form.adresse) }}
{{ form_row(form.cp) }}
{{ form_row(form.type) }}

<a href="{{path('admin_biens_ajouter',{'id':biens.id})}}"><button  type='submit' class="btn btn-primary">Enregistrer</button>
{{ form_end(form) }}
{% endblock %}