{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

{{form_start(form)}}
<<<<<<< HEAD

<div class="row mb-3">
    <div class="col">
        {{ form_row(form.nom, {'label': 'Nom', 'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="row mb-3">
    <div class="col">
        {{ form_row(form.prenom, {'label': 'Prénom', 'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="row mb-3">
    <div class="col">
        {{ form_row(form.mail, {'label': 'Mail', 'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="row mb-3">
    <div class="col">
        {{ form_row(form.objet, {'label': 'Objet', 'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="row mb-3">
    <div class="col">
        {{ form_row(form.message, {'label': 'Message', 'attr': {'class': 'form-control'}}) }}
    </div>
</div>

=======
{{form_row(form.nom)}}
{{form_row(form.prenom)}}
{{form_row(form.mail)}}
{{form_row(form.objet)}}
{{form_row(form.message)}}
{{form_widget(form)}}
<a href="{{ path('app_contact', {'id': contact.prenom}) }}">
    <button type='submit' class="btn btn-primary">Enregistrer</button>
</a>
>>>>>>> d077b24 (Correction bug ajout bien)
{{form_end(form)}}

{% endblock %}
