{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
{{form_start(form)}}
{{form_row(form.nom)}}
{{form_row(form.prenom)}}
{{form_row(form.mail)}}
{{form_row(form.objet)}}
{{form_row(form.message)}}
{{form_widget(form)}}
<a href="{{path('app_contact',{'id':contact.prenomsymfonu conso})}}"><button  type='submit' class="btn btn-primary">Enregistrer</button> 
{{form_end(form)}}

{% endblock %}
