{% extends 'base.html.twig' %}

{% block title %}Hello BienController{% endblock %}

{% block body %}
{# ici tout le body contenu dans la page d'Accueil #}
{% block titre%}

<h1> Liste des Biens </h1>
{% endblock %}

{%for bien in biens %}

<tr>
<td> <img src="{{asset('images/'~ bien.image ~'')}}" style="width:100px;height:100px;"> </td>     
</br>

<p> {{bien.nbPieces}} pièces  - {{bien.surface}}m2  </p>
{{bien.titre}} </br>

<p> {{bien.ville}} ({{bien.cp}}) </p>

<p> <td>{{bien.prix}}</td> € </p>
</tr>





{% endfor %}
{% endblock %}